body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    color: #0066cc;
}

p {
    line-height: 1.6;
}

img {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid #0066cc;
}
